
<div id="title">
  <h1>Markets</h1>
</div>

<div id="all-markets">
  <table>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>State</th>
      <th>More Info</th>
    </tr>
    <% @facade.all_markets.each do |market| %>
    <tr>
      <td><%= market.name %></td>
      <td><%= market.city %></td>
      <td><%= market.state %></td>
      <td><%= button_to "More Info", market_path(market.id), method: :get %></td>
    </tr>
    <% end %>
  </table>
</div>
